#form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #artist-select,
  #song-select {
    margin: 0 10px;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin: 0 10px;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  
  #lyrics-container {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    background-color: #333;
    padding: 20px;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #font-color-menu,
  #background-color-menu {
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  